* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 32px 60px;
}

header > h1 {
  font-size: 2rem;
}
.screen-mode {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

main {
  background: #fafafa;
}

.search-and-filter {
  display: flex;
  justify-content: space-between;
  padding: 32px 60px;
}
.search-field {
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  gap: 1rem;
}

.search-field > input {
  border: none;
  outline: none;
}

#filter-by-region {
  font-size: 1rem;
  outline: none;
  padding: 12px;
}

.countries-container {
  padding: 12px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fafafa;
  gap: 2rem;
}

.flag img {
  height: 8rem;
  width: 100%;
}

.country-card {
  background-color: white;
  width: 15rem;
}

.country-card:hover {
  transform: scale(1.1);
}

.country-name {
  padding: 32px;
}
.country-name > h3 {
  padding: 16px 0;
  max-width: 100%;
  text-wrap: wrap;
  text-decoration: none;
  color: inherit;
}

.country-info {
  padding: 16px 32px;
  margin-bottom: 2rem;
}
.card-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.last-child {
  margin-bottom: 32px;
}

.info {
  font-size: 1rem;
  font-weight: lighter;
}

.country-heading {
  font-size: 1rem;
  font-weight: normal;
}

.country-text-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.links {
  text-decoration: none;
  color: inherit;
}

.selected-country {
  background-color: white;
  padding: 32px 60px;
}

.border-buttons,
.back-button {
  background-color: white;
  border: none;
  box-shadow: 5px 4px 8px grey;
  margin-left: 16px;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 16px;
}

.back-button {
  margin-bottom: 32px;
}

.country-detail {
  display: flex;
  gap: 5rem;
}

.country-detail > img {
  width: 40vw;
  height: 50vh;
}

.country-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  display: flex;
  gap: 2rem;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bold {
  font-weight: bold;
  margin-bottom: 16px;
}
